.controls {
    display: grid;
    grid-template-rows: 50% 50%;

    .size-and-speed-control, .play-pause-clear-control {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 10px;
    }

    .size-and-speed-control {
      grid-template-areas: ". RowControl ColumnControl SpeedControl .";

      .row-group {
        grid-area: RowControl;
      }

      .column-group {
        grid-area: ColumnControl;
      }

      .speed-group {
        grid-area: SpeedControl;
      }

      .input-group {
        display: grid;
        grid-template-rows: 30% 70%;

        input {
          height: 25px;
          padding: 0px 10px;
          margin-top: 5px;
          border: solid 1px var(--light-black);
          border-radius: 15px;
        }
      }
    }

    .play-pause-clear-control {
      grid-template-areas: ". PlayButton PauseButton ClearButton .";

      .btn {
        height: 30px;
        border: solid 1px;
        color: white;
        border-radius: 15px;
        transition: all 0.2s linear;
      }

      .btn:hover {
        cursor: pointer;
        box-shadow: 0 0 5px var(--light-black);
      }

      .btn-success {
        background: var(--success);
        border-color: var(--success)
      }

      .btn-warning {
        background: var(--warning);
        border-color: var(--warning)
      }

      .btn-danger {
        background: var(--danger);
        border-color: var(--danger)
      }

      .play-btn {
        grid-area: PlayButton;
      }

      .pause-btn {
        grid-area: PauseButton;
      }

      .clear-btn {
        grid-area: ClearButton;
      }
    }
}

@media screen and (max-width: 783px) {
  .controls {
    .size-and-speed-control, .play-pause-clear-control {
      grid-template-columns: repeat(3, 1fr);
      padding: 10px 10px;
    }

    .size-and-speed-control {
      grid-template-areas: "RowControl ColumnControl SpeedControl";
    }

    .play-pause-clear-control {
      grid-template-areas: "PlayButton PauseButton ClearButton";
    }
  }
}